# Initially taken from Github's Python gitignore file

# Image Files
images/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
datasets/images/
checkpoints/
.idea/
.vscode/
.vscode/settings.json
workspace.xml

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
preview/
