# Initially taken from Github's Python gitignore file

# Image Files
images/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
datasets/images/
checkpoints/
.idea/
.vscode/
.vscode/settings.json
workspace.xml
preview/